/* #box{
    height: 250px;
    width: 100px;
    background-color: aqua;
    color: brown;
    border: 1px solid black;
} */
 .myclass{
    color: brown;

 }
 .newclass{
    background-color: green;
 }